Northwind.NET.Sample/SampleData/CategoriesFilter/CategoriesFilter.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.CategoriesFilter" targetNamespace="Expression.Blend.SampleData.CategoriesFilter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EqualFilter" type="tns:EqualFilter" />
  <xs:complexType name="EqualFilter">
    <xs:sequence>
      <xs:element name="AvailableValues" type="tns:CategoryCollection" />
      <xs:element name="SelectedValues" type="tns:CategoryCollection" />
    </xs:sequence>
    <xs:attribute name="CountAttachedFilterControls" type="xs:double" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="IsActive" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="CategoryCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Category" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Category">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute name="Picture" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>